{% extends "common/layout_main.html" %}
{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
                <ul class="nav nav-pills">
                <li >
                        <a href="{{ buildUrl('/question/type1_index') }}">专业列表</a>
                </li>
                <li >
                    <a href="{{ buildUrl('/question/type2_index') }}?parent_id={{ parent_id.0}}">章节列表</a>
                </li>
                    <li class="current">
                        <a href="{{ buildUrl('/question/type3_index') }}?parent_id={{ parent_id.1 }}">小节列表</a>
                    </li>
                </ul>
        </div>
    </div>
</div>
<div class="row mg-t20 wrap_category_type1_set" style="">
    <div class="col-lg-12" style="">
        <h2 class="text-center">小节设置</h2>
        <div class="form-horizontal m-t" style="">
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">小节名称:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="请输入小节名称" name="name" value="{{ info.name }}">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">是否免费:</label>
                <div class="col-lg-10">
                    <select name="is_free" class="form-control select2-hidden-accessible" tabindex="-1"
                            aria-hidden="true">
                        <option value="0">请选择</option>
                        <option {% if info.is_free==1 %}selected{% endif %} value="1">免费</option>
                        <option {% if info.is_free==0 %}selected{% endif %} value="0">不免费</option>
                    </select>
                </div>
            <div class="hr-line-dashed"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-2">
                    <input type="hidden" name="id" value="{{info.id}}">
                    <input type="hidden" name="parent_id" value="{{parent_id.1}}">
                    <button class="btn btn-w-m btn-outline btn-primary save">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/category_question/type_3/set.js') }}"></script>
{% endblock %}